.parallax_body{
  height: 100vh;
  width: 100vw;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: scroll;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
  transform-style: preserve-3d;
}

.parallax_section {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}
.section{
  position: absolute;
  transform-style: preserve-3d;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.parallax_base {
  transform: translateZ(0px);
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height:50vh;
  width: 100vw;
  background-color: white;
  overflow-y: scroll;
  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;

}

.parallax_bg {
  transform: translateZ(-1px) scale(2);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  background-image: url('images/OneWithEarth.png');

  z-index:-1;
}
