.parallax_body{
  height: 100vh;
  width: 100vw;

  overflow-x: hidden;
  overflow-y: scroll;

  perspective: 2px;
}
/*section sizes same as full-title-section... etc*/
.section{
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}
.small_section{
  position:relative;
  height:50vh;
  transform-style: preserve-3d;
}

.layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size:100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.layer_base {
  transform: translateZ(0);
}

.layer_base_bg {
  transform: translateZ(-1px) scale(2);
}

.full_title_section {
  height: 120vh;
  width: 100vw;
}

.title_section {
  height: 50vh;
  width: 100vw;
}

.display_section {
  height: 85vh;
  width: 100vw;

  overflow-y: scroll;
}

.title {
  text-align: center;
  transform: translateY(20vh);
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.bg1 {
  background-image: url('images/mermay2018.png');
  width: 100vw;
}

.bg2 {
  background-image: url('images/OneWithEarth.png');
  width: 100vw;
}

.bg3 {
  background-image: url('images/StarGoddess.jpg');
  width:100vw;
}

.bg4 {
  background-image: url('images/Swallow.png');
  width:100vw;
}

#back_group {
  z-index:-1;
}

#top_group {
  z-index:1;
}


.navbutton {
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 1;
  width: 60px;
  height: 60px;
  border-radius: 55px;
  text-align: center;
  color: #333333;
  background-color: #dddddd;
  overflow:auto;
  border-width: 0px;
  transition: color 0.3s ease;
}
.btn-group {
  position: absolute;
}
.toggle_pressed {
  color: #dddddd;
  background-color: #333333;
  overflow:auto;
}
.dropdown-menu {
  transform: translate(110px, 20px);
}
.btn-primary {
  text-align: center;
}
.nav-link {
  background-color: #eeeeee;
  border-color: #777777
}

.text_appear {
  opacity:0;
  font-size: 50px;
  z-index:1;
  color: white;
  transition:  opacity 1s ease,
                width 0.5s ease,
                left 0.5s ease;
}
.bg1:hover .text_appear{
  opacity:1;
}

.carousel-container {
  width: 100vw;
  height: 80vh;
  max-height: 80vh;
  max-width:100vw;
  overflow:hidden;
  background-color:#111111;
  margin:auto;
}
.carousel-inner .carousel-item {
  height: 80vh;
  width:100vw;
  margin:auto;
  position:relative;
}

.overlay {
  position:absolute;
  left:100vw;
  top:0;
  bottom:0;
  margin-top:auto;
  margin-bottom:auto;
  opacity:0;
  background-color:white;
  width:0%;
  height:inherit;
  z-index:1;

  transition: opacity 0.5s ease,
              width 0.5s ease,
              left 0.5s ease;
}

.img-fluid {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  align-content:center;
  max-height:80vh;
  height:auto;
  width:auto;
}
#instafeed {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  align-content:center;
  max-height:inherit;
  height:auto;
  width:auto;
}

.carousel-item:hover .overlay{
  opacity:0.5;
  width:30%;
  left:60%;

}
