.navbutton {
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 1;
  width: 60px;
  height: 60px;
  border-radius: 55px;
  text-align: center;
  color: #333333;
  background-color: #dddddd;
  overflow:auto;
  border-width: 0px;
  transition: color 0.3s ease;
}
.btn-group {
  position: absolute;
}
.toggle_pressed {
  color: #dddddd;
  background-color: #333333;
  overflow:auto;
}
.dropdown-menu {
  transform: translate(110px, 20px);
}
.btn-primary {
  text-align: center;
}
.nav-link {
  background-color: #eeeeee;
  border-color: #777777
}

.wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  height: 100vh;
  width: 100vw;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: scroll;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
  transform-style: preserve-3d;
}

.full_section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 120vh;
  width: 100vw;

  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;
  /*color: white;
  text-shadow: 0 0 5px #000;*/
}
.title_section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 50vh;
  width: 100vw;

  /* For text formatting. */
  align-items: center;
  justify-content: center;
  overflow-y:auto;

}
.title_bg_section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 50vh;
  width: 100vw;

  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;
}

.display_section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 85vh;
  width: 100vw;
  overflow-y: scroll;
  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax::after {
  /* Display and position the pseudo-element */
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(2);
  /* Force the background image to fill the whole element. */
  background-size: 100%;

  /* Keep the image from overlapping sibling elements. */
  z-index: -1;
}

/* The styling for the static div. */
.static {
  background: white;
}

/* Set background images */
.bg1::after {
  background-image: url('images/mermay2018.png');
  width:100vw;
}

.bg2::after {
  background-image: url('images/Swallow.png');
  width:100vw;
}

.bg3::after {
  background-image: url('images/OneWithEarth.png');
  width:100vw;
}

.bg4::after {
  background-image: url('images/StarGoddess.jpg')
}
.text_appear {
  opacity:0;
  font-size: 50px;
  z-index:1;
  color: white;
  transition:  opacity 1s ease,
                width 0.5s ease,
                left 0.5s ease;
}
.bg1:hover .text_appear{
  opacity:1;
}

.carousel-container {
  width: 100vw;
  height: 80vh;
  max-height: 80vh;
  max-width:100vw;
  overflow:hidden;
  background-color:#111111;
  margin:auto;
}
.carousel-inner .carousel-item {
  height: 80vh;
  width:100vw;
  margin:auto;
  position:relative;
}

.overlay {
  position:absolute;
  left:100vw;
  top:0;
  bottom:0;
  margin-top:auto;
  margin-bottom:auto;
  opacity:0;
  background-color:white;
  width:0%;
  height:inherit;
  z-index:1;

  transition: opacity 0.5s ease,
              width 0.5s ease,
              left 0.5s ease;
}

.img-fluid {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  align-content:center;
  max-height:80vh;
  height:auto;
  width:auto;
}
#instafeed {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  align-content:center;
  max-height:inherit;
  height:auto;
  width:auto;
}

.carousel-item:hover .overlay{
  opacity:0.5;
  width:30%;
  left:60%;

}

.draggable {
  height: 150px;
  width: 250px;
}
